<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Team listing</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Main programming language</th>
                    <th>Known technologies</th>
                </tr>
            </thead>
            <tbody>
                {% for member in team %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.position }}</td>
                    <td>{{ member.language }}</td>
                    <td>{{ member.technologies }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>